/*Basis syle elementer*/
body{
  background-image: url(../img/billeder/butik-billeder/baggrund-web.jpg);
  color: #6b3730;
  font: 400 1rem 'Karla', arial, sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;

}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}


/*header med logo, overskrift og navbar*/
.header{
    background: none;
    background-color: #ECE4DD;
    text-align: center;
    margin: 0;
}
#header-container{
    display: flex;
    justify-content: space-around;
}
#top-logo{
    padding: 3%;
    background: none;
    display: flex;
    flex-direction: row;
}
.pulvis-logo{
    width: 15%;
    height: 60%;
    background: none;

}
.pulvis{
    font-family: 'Berkshire Swash';
    font-size: 80px;
    color: #794A44;
    background: none;
    margin-left: 270px;
    margin-top: 100px;
}
#menu{
    display: flex;
    border:1px solid #753E36;
    border-width:1px 0;
    font-family: 'Karla';
    font-weight: 600;
}
#menu ul{
    background: none;
}
#menu li{
    display: inline;
    padding-right: 30px;
    cursor: pointer;
    background: none;
}
#menu a{
    display:inline;
    color: #794A44;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    background: none;
}
#menu{
    display:inline-block;
    background: none;
}
#menu a.active{
    color: #1E2D63;
}



/* footer */
#info-footer {
    display: flex;
    background-color: #BE7A5E;
    color: #fff;
    justify-content: space-between;
}

.contact-block {
    display: flex;
    margin: 1rem 2rem 1rem 3rem;
}

.contact-block-one, .contact-block-two {
    display: flex;
}

.contact-block-one {
    margin-right: 3rem;
}

.line {
    background-color: #fff;
    height: auto;
    width: 0.1rem;
    margin: 0 1rem 0 1rem;
}

#social-media {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

#facebook-media, #instagram-media {
    height: 4rem;
}

@media(max-width:1024px){
    .pulvis-logo{
        width: 17%;
        height: 60%;

    }
    .pulvis{
        margin-left: 100px;
        margin-top: 100px;
    }

    #menu a{
        font-size: 20px;
    }

    /* footer */
    #info-footer {
        background-color: red;
    }


}
@media(max-width:768px){
    .header{
        display: flex;
        flex-direction: row;
    }
    .pulvis-logo{
        width: 25%;
        height: 60%;
    }
    .pulvis{
        margin-left: 90px;
        margin-top: 85px;
        font-size: 40px;
    }
    /*burgermenu*/
#burgermenu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index:2;

}
#burgermenu span,
#burgermenu span:before,
#burgermenu span:after {
    background: #1E2D63;
    display: block;
    height: 2px;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burgermenu span:before,
#burgermenu span:after {
    content: "";
}
#burgermenu span {
    right: 0px;
    top: 13px;
    width: 27px;
}
#burgermenu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
}
#burgermenu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}

#burgermenu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}
#burgermenu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}
#burgermenu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
}
#menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:right;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
}
#menu.overlay{
    visibility: visible;
    padding-top:100px;
    background-color:#fff;
    opacity: 80%;
}
#menu li{
    list-style:none;
}
#menu a{
    font-family: 'Karla';
    display:block;
    font-size: 15px;
    margin-bottom:30px;
    text-decoration:none;
    font-weight: 600;
    margin-right: 20px;
}
#menu a.active{
    color: #1E2D63;
}
    /* footer */
    #info-footer {
        background-color: yellow;
    }

    .contact-block {
        flex-direction: column;
        margin: 1rem 1rem 1rem 1rem;
    }

    .contact-block-one {
        margin-bottom: 2rem;
    }

    #social-media {
        align-items: flex-end;
        margin: 0 2rem 1rem 0;
    }

    #facebook-media, #instagram-media {
        height: 3rem;
    }

    /*font*/
    p {
        font-size: 0.8rem;
    }


}
@media(max-width:480px){
    .pulvis-logo{
        width: 45%;
        height: 74%;
        margin-top: 13px;
    }
    .pulvis{
        margin-left: 10px;
        margin-top: 26px;
        font-size: 25px;
    }
    /* footer */
    #info-footer {
        background-color: blue;
    }

}
