/*header med logo, overskrift og navbar*/
.header{
    background-color: #ECE4DD;
    text-align: center;
}
#top-logo{
    display: flex;
    padding: 3%;
    justify-content: center;

}
.pulvis-logo{
    width: 13%;
    height: 65%;

}
.pulvis{
    display: flex;
    font-family: 'Berkshire Swash';
    font-size: 65px;
    color: #794A44;
}
#menu{
    display: flex;
    border:1px solid #753E36;
    border-width:1px 0;
    font-family: 'Karla';
    font-weight: 600;

}
#menu li{
    display: inline;
    padding-right: 30px;
    cursor: pointer;
}
#menu a{
    display:inline;
    color: #794A44;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}
#menu{
    display:inline-block;
}
#menu a.active{
    color: #1E2D63;
}

/* footer */
#info {
    display: flex;
    justify-content: space-between;
    background-color: #BE7A5E;
    color: #fff;
}

.contact-block {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1rem 5rem;
}

.line {
    background-color: #fff;
    height: auto;
    width: 0.1rem;
    margin: 0 1rem 0 1rem;
}

#instagram-media {
    margin-left: -7rem;
}

#social-media {
    margin: 3rem -3rem -5rem 30rem;
}

p {
    font: 400 1rem 'Karla', arial, sans-serif;
}


@media(max-width:1024px){
    #menu a{
        font-size: 20px;
    }
}
@media(max-width:768px){
    .header{
        display: flex;
        flex-direction: row;
    }
    .pulvis{
        font-size: 40px;
    }
    /*burgermenu*/
#burgermenu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index:2;

}
#burgermenu span,
#burgermenu span:before,
#burgermenu span:after {
    background: #1E2D63;
    display: block;
    height: 2px;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burgermenu span:before,
#burgermenu span:after {
    content: "";
}
#burgermenu span {
    right: 0px;
    top: 13px;
    width: 27px;
}
#burgermenu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
}
#burgermenu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}

#burgermenu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}
#burgermenu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}
#burgermenu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
}
#menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:right;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
}
#menu.overlay{
    visibility: visible;
    padding-top:100px;
    background-color:#fff;
    opacity: 80%;
}
#menu li{
    list-style:none;
}
#menu a{
    font-family: 'Karla';
    display:block;
    font-size: 15px;
    margin-bottom:30px;
    text-decoration:none;
    font-weight: 600;
    margin-right: 20px;
}
#menu a.active{
    color: #1E2D63;
}
}
@media(max-width:480px){
    .pulvis{
        font-size: 23px;
    }
    .pulvis-logo{
        width: 28%;
        height: 43%;

    }

}
