/*Grundlæggende indhold, er knyttet til alle 4 sider - butikker*/
body {
  background-image: url(../img/billeder/butik-billeder/baggrund-web.jpg);
  color: #6b3730;
  font-family: 'Karla';
  font-weight: 600;
}
/* Overskrifter */
h2 {
  font-size: 22px;
  text-align: center;
  margin: 25px;
  font-weight: 600;
}


.video {
  text-align: center;
 }

/* Teksten under overskriften H1 */
.hjalpeinformation p{
  font-size: 10px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}
/* Flexbox */
* {
  box-sizing: border-box;
}
/* Overordnet box for flex box */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px;
}
/* Bokse der indeholder billeder */
.flex-item-left {
  background-color: #f1f1f1;
  padding: 25px;
  flex: 50%;
  margin-top: 10px;
}
/* Boxe der indeholder tekst */
.flex-item-right {
  background-color: #F3F3F3;
  padding: 20px;
  flex: 50%;
  margin-top: 10px;
}
/* Selve teksten, inde i tekst box */
.flex-item-right p {
  font-size: 13px;
  font-weight: 600;
}
/* Selve billederne inde i billedbox */
.butikker {
  width: 100%;
  height: auto;
}
/* Hover effekt */
.zoom {
  transition: transform .2s;
}
/* Hover effekt */
.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}
/* Pil tilbage */
#pil {
  margin-left: 15px;
  width: 15px;
}
/* Selve teksten i tekstfelterne, på undersiderne */
.om-butikken p {
  font-size: 13px;
  background-image: url(../img/billeder/butik-billeder/Group\ 69.jpg);
  margin: 25px;
  padding: 20px;
  font-weight: 600;
}

/* Her starter galleri */
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Rammen omkring vores galleri */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* pilene frem og tilbage */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #6b3730; 
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Pilen til højre */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Hover effekt, pilene */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Nummer tekst (1/6) */
.numbertext {
  color: #6b3730;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-top: 30px;
  margin: 15px;
}

/* Prikkerne under billederne */
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 2px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Hover effekt for prikkerne */
.active, .dot:hover {
  background-color: #6b3730;
}

/* Fading animation - imellem billederne */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* stile og placering af billeder */
.imgpro {
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;
}

/* Fading animation - imellem billederne */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Fading animation - imellem billederne */
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Ændringer for siden < 768px */
@media screen and (min-width:768px) {
  .hjalpeinformation p {
    font-size: 15px;
   }
   .flex-item-left {
     margin-left: 80px;
     margin-right: 80px;
   }
   .flex-item-right {
     margin-left: 80px;
     margin-right: 80px;
   }
   .flex-item-right p {
     font-size: 17px;
   }
   h2 {
     font-size: 25px;
   }
   .om-butikken p{
     font-size: 17px;
     margin-left: 80px;
     margin-right: 80px;
   }
   #pil {
     width: 5%;
     margin: 20px;
   }
   .numbertext {
     font-size: 20px;
   }
   .prev, .next {
     font-size: 35px;
     margin: 25px;
   }
  
 }

/* Flexbox - vises som colone op til 800px */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 50%;
  }
}


/* Ændringer for siden < 1024px */
@media screen and (min-width:1024px) {
  .hjalpeinformation p {
    font-size: 20px;
  }
 .prev, .next {
   font-size: 25px;
 }
 .flex-item-right p {
   font-size: 25px;
 }
 h2 {
   font-size: 35px;
 }
 .om-butikken p{
   font-size: 25px;
   margin-left: 10px;
   margin-right: 10px;
 }
 .om-butikken {
   margin-left: 100px;
   margin-right: 100px;
 }
 #pil {
   width: 4%;
   margin: 30px;
 }
 .numbertext {
   font-size: 30px;
 }
 .prev, .next {
   font-size: 35px;
   margin: 30px;
  }
  .flex-item-left {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 85px;
    padding-bottom: 85px;

  }
  .flex-item-right {
    margin-left: 0px;
    margin-right: 0px;
    flex: 40%;
  }
 }

  /* Ændringer for siden < 1440px */
  @media screen and (min-width:1440px) {
    #pil {
    width: 3%;
    margin: 50px;
   }
   .numbertext {
    font-size: 40px;
    margin: 50px;
    }
    .prev, .next {
     font-size: 45px;
     margin: 50px;
     }
    .flex-item-right p {
      display: none;
      }
      h2 {
        font-size: 40px;
      }
      .flex-item-left {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .flex-item-right {
        flex: 50%;
      }
      .om-butikken p{
        margin-left: 150px;
        margin-right: 150px;
      }
   }
      /* Siden viser h3 ved < 1439px */
      @media screen and (max-width:1439px) {
        h3 {
          display: none;
        }
   }

     /* Ændringer for siden < 2560px */
     @media screen and (min-width:2560px) {
      h2 {
        font-size: 60px;
      }
      h3 {
        font-size: 40px;
      }
     .hjalpeinformation p {
       font-size: 30px;
     }
    #pil {
      width: 3%;
      margin: 100px;
    }
    .numbertext {
      font-size: 70px;
      margin: 100px;
    }
    .prev, .next {
      font-size: 55px;
      margin: 100px;
    }
    .doti {
      font-size: 40px;
    }
    .flex-item-right {
      flex: 60%;
    }
    .flex-item-left {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .om-butikken p{
      margin-left: 700px;
      margin-right: 700px;
    }
      }
