.kontakt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 1rem;
}


.Kontaktinformationer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 5rem 2rem 0rem;
}

#out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f7f4f1;
  padding: 1rem;
  margin: 2rem 1rem 2rem 0rem;
}

#social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 1rem 0rem;
}



.kontaktformular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 2rem 0rem 2rem 5rem;
}

input {
  background-color: #f7f4f1;
  color: #794A44;
  border-radius: none;
  border: solid #794A44 0.1rem;
  margin: 0.5rem 0rem;
  padding: 1rem 3rem 1rem 0.5rem;
}

#besked {
  padding-bottom: 7rem;
}


.button {
  margin: 1rem 0rem;
  padding: 0.5rem 2.3rem;
}



@media(max-width:768px) {
  .kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .kontaktformular {
    margin: 2rem 0rem 0rem 0rem;
    align-items: center;
  }

  .Kontaktinformationer {
    margin: 0rem;
  }

  #out {
    margin: 1rem 1rem 1rem 0rem;
  }
}
