.logoplaceholder {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .logoplaceholder2 {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .logoplaceholder3 {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .logoplaceholder4 {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  @media screen and (min-width: 480px) {
  .logoplaceholder {
    grid-area: bill1;
    width: 100%;
  }
  

  .logoplaceholder2 {
    grid-area: bill2;
    width: 100%;
  }

  .logoplaceholder3 {
    grid-area: bill2;
    width: 100%;
  }

  .logoplaceholder4 {
    grid-area: bill2;
    width: 100%;
  }
}

  @media screen and (min-width: 480px) {
      #raekkeforbillederetogtotest {
          display: grid;
          grid-gap: 25px;
          margin-left: auto;
          margin-right: auto;
          grid-template-columns: repeat(12, 1fr);
          grid-template-areas:
          ". bill1 bill1 bill1 bill1 bill1 bill2 bill2 bill2 bill2 bill2 .";
    }
}