#tilbageknap {
  text-align: left;
  cursor: pointer;
}

.headerkasseknap {
  width: 19px;
  margin-left: 8.33335%;
}

.headerkasse {
  width: 83.3333%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.interesserkasse {
  width: 83.3333%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f4f1;
  margin-top: 5px;
}

.tekstpadding {
  padding: 10px;
}

#listeoverpartnereoverskrift {
  padding: 10px;
}

#midlertidiginformation {
  padding: 10px;
}

#listeoverpartnere {
  padding: 10px;
}

.logoplaceholder {
  width: 83.3333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  cursor: pointer;
}

.logoplaceholder2 {
  width: 83.3333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.logoplaceholder3 {
  width: 83.3333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.logoplaceholder4 {
  width: 83.3333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.kassetilbilledtekst {
  width: 83.3333%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.billedteksttest {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: ;
}

.billedteksttest2 {
  text-align: center;
  width: 83.3333%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}

.miljobevidsthedsimg {
  grid-area: miimg;
  width: 83.3333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.spacing {
  display: block;
  height: 85px;
}

@media screen and (min-width: 480px) {

.headerkasse {
  width: 66.66666%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.interesserkasse {
  width: 66.66666%;
  margin-left: auto;
  margin-right: auto;
}

.headerkasseknap {
  width: 19px;
  margin-left: 16.6667%;
}

.logoplaceholder {
  grid-area: img1;
  width: 100%;
  margin-bottom: -10%;
}
  
.logoplaceholder2 {
  grid-area: img2;
  width: 100%;
  margin-bottom: -10%;
}

.logoplaceholder3 {
  grid-area: img3;
  width: 100%;
  margin-bottom: -10%;
}

.logoplaceholder4 {
  grid-area: img4;
  width: 100%;
  margin-bottom: -10%;
}

.kassetilbilledtekst {
  grid-area: bite1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.kassetilbilledtekst2 {
  grid-area: bite2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.kassetilbilledtekst3 {
  grid-area: bite3;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.kassetilbilledtekst4 {
  grid-area: bite4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
  
  .billedteksttest {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}

  .billedteksttest2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}

.miljobevidsthedsimg {
  grid-area: miimg;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.spacing {
  display: block;
  height: 65px;
}
}

@media screen and (min-width: 480px) {
    #raekkeforbillederetogtotest {
        display: grid;
        grid-gap: 25px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        ". . inte inte inte inte inte inte inte inte . ."
        ". . img1 img1 img1 img1 img2 img2 img2 img2 . ."
        ". . bite1 bite1 bite1 bite1 bite2 bite2 bite2 bite2 . ."
        ". . img3 img3 img3 img3 img4 img4 img4 img4 . ."
        ". . bite3 bite3 bite3 bite3 bite4 bite4 bite4 bite4 . .";
    }
  }

@media screen and (min-width: 480px) {
  #raekkeforbillederetogtotest2 {
      display: grid;
      grid-gap: 25px;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
      ". . miimg miimg miimg miimg miimg miimg miimg miimg . .";
  } 
}