body{
  background-image: url(../img/billeder/butik-billeder/baggrund-web.jpg);
  color: #6b3730;
  font-family: 'Karla';
}
/*Billede af Hr og Fru Hansen med tekst over*/
.hansen{
    width: 100%;
    height: auto;
}
.hr-og-fru{
    font-family:'Berkshire Swash';
    color: #FFFFFF;
    font-size: 80px;
    position: absolute;
    margin-top: -250px;
    margin-left: 100px;
    background: none;
}
.slogan{
    color: #FFFFFF;
    font-size: 40px;
    position: absolute;
    margin-top: -150px;
    margin-left: 105px;
    font-weight: 600;
    background: none;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
}
.hvem-er-vi{
    font-weight: 600;
    font-size: 35px;
    color: #6B3730;
    background: none;
}
.tekst-om{
    font-size: 25px;
    color: #6B3730;
    font-weight: 600;
    padding: 20px;
    background: none;
    background-color: #F3F3F3;
}
.btn{
    width: 8rem;
    height: 4rem;
    background: none;
    background-color: #1E2D63;
    border-radius: 10px;
    
}
.btn a{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    background: none;
}
.youtube-video{
    text-align: center;
}
.youtube-video iframe{
    width: 900px;
    height: 508px;
}
@media(max-width:1024px){
    .hr-og-fru{
        font-size: 70px;
        margin-top: -200px;
        margin-left: 30px;
    }
    .slogan{
        font-size: 35px;
        margin-top: -115px;
        margin-left: 35px;
    }
    .main-container{
        width: 800px;
    }
    .youtube-video iframe{
        width: 800px;
        height: 450px;
    }
}
@media(max-width:768px){
    .hr-og-fru{
        font-size: 50px;
        margin-top: -150px;
        margin-left: 20px;
    }
    .slogan{
        font-size: 25px;
        margin-top: -90px;
        margin-left: 25px;
    }
    .main-container{
        width: 600px;
    }
    .hvem-er-vi{
        font-size: 25px;
    }
    .tekst-om{
        font-size: 17px;
    }
    .btn{
        width: 7rem;
        height: 3rem;
    }
    .btn a{
        font-size: 17px;
    }
    .youtube-video iframe{
        width: 600px;
        height: 338px;
    }
}
@media(max-width:480px){

    .hr-og-fru{
        font-size: 25px;
        margin-top: -70px;
        margin-left: 10px;
    }
    .slogan{
        font-size: 14px;
        margin-top: -38px;
        margin-left: 11px;
    }
    .main-container{
        width: 250px;
        margin-left: 20px;
    }
    .hvem-er-vi{
        font-size: 22px;
    }
    .tekst-om{
        font-size: 13px;
    }
    .btn{
        width: 6rem;
        height: 2.3rem;
    }
    .btn a{
        font-size: 13px;
    }
    .youtube-video{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }
    .youtube-video iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
